.btn {
  padding: 10px 0;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  width: 150px;

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 147.059% */
  letter-spacing: 0.2px;
}

